.sidebar{
    position: sticky;
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fdfbfb;
    margin:20px;
    padding-bottom:20px;
}
.siderbarItem{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.sidebarTitle{
    margin:10px;
    padding: 5px;
    width:80%;
    border-top:1px solid #a7a4a4;
    border-bottom:1px solid #a7a4a4;
    font-family: 'Varela Round',sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.siderbarItem > img {
    margin-top:15px;
    height:250px;
    object-fit: contain;
}

.siderbarItem > p {
    padding:30px;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
}

.sidebarIcon {
    font-size: 16px;
    cursor: pointer;
}
.sidebarIcon + .sidebarIcon{
    margin-left: 10px;;
}