.top{
    background-color: white;
    width: 100%;
    min-height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans',sans-serif;
}
.topLeft,.topRight{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topIcon{
    font-size: 20px;
    margin-right:10px;
    color: #444;
    cursor: pointer;
}
.topImg{
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topCenter{
    flex:6;
}

.topList{
    display: flex;
    justify-content: center;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
}
.topListItem > a{
    color: #000;
    text-decoration: none;
}
.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}